 
/*red= #9b1f2e
orange= #f37620
yellow= #fdc516
lila= #947eba
pink= #db69a1
*/


@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');



/* Home */

* {box-sizing: border-box;}

            body {margin: 0;}


           
            .header {background-image: url(imagenes/punpun-doodles.png);
                background-position: top;
                background-repeat: no-repeat;
                background-size:cover;
                height: 70%;
                text-align: center;
                padding: 90px;}

     

            .header logo {float: center;}

            .navegation {background-color: #fdc516;
                        text-align: center;
                        margin: 5px, auto, 10px, auto;
                        padding: 10px;}

            .navegation li {display: inline;
                        font-family: 'Raleway', sans-serif;
                        font-weight: bold;
                       }

            .navegation a {text-decoration: none;
                            margin: 0 15px;
                            color: black;}


a:hover {color: #9b1f2e;}
a:active {color: #947eba}


            .home-h1 {font-family: 'Passion One', cursive;
                        text-align: center;
                        padding: 10px;
                        font-size: 30px;
                        margin: 100px 30px 100px 30px;}


.home-info h2 {color: white;
font-family: 'Raleway', cursive;
    font-size: 30px;
text-align: center;
padding-top: 40px;
    padding-bottom:5px;
margin: 0px;
letter-spacing: 1px}

.home-info p {color: white;
font-family: 'Raleway', cursive;
    font-size: 10px;
text-align: center;
padding-bottom: 45px;
margin: 20px 260px 0px 230px;
line-height: 16px;}

.home-info {background-color: #9b1f2e;
padding:60px 0px;}


            .homegif {padding: 150px;
                    padding-bottom: 60px;
                    text-align: center;}



.imagehome {
  display: flex;
  max-width: 75%;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  flex-basis: auto;
  justify-content: space-evenly;
}

.imagehome div {
  flex: 1;
  padding: 2px;
  min-width: 33%;
  box-sizing: border-box;
}

.img1, .img2, .img3 {
  width: 100%;
  padding: 10%;
}

.img2 {padding-bottom: 60%;
padding-top: 0px;}








/*About me*/

.about-me {margin-bottom: 180px;}

.about-me p {color: gray;
font-family: 'Raleway', sans-serif;
font-size: 12px;
margin: 0px 300px;
padding: 8px 0px;
line-height: 17px;}

.about-me-picture {text-align: center;}

.about-me-h1 {color: black;
text-align: center;
font-family: 'Passion One', cursive;
font-size: 30px;
    margin: 150px auto 50px auto;}




/*My Work*/


.my-work-0 h1, .my-work h1, .my-work-2 h1 {color: black;
text-align: center;
font-family: 'Passion One', cursive;
font-size: 50px;
margin: 150px auto 50px auto;}


.my-work-0 {background-image: url(imagenes/insta-comic.png);
    background-position:85% 55%;
background-size: 450px 450px;
background-repeat: no-repeat;}


.my-work-p0 {margin: 0px 770px 50px auto;
padding: 150px;
    padding-bottom: 250px;
font-size: 20px;
color: gray;
font-family: 'Raleway', sans-serif;}


.my-work {background-image: url(imagenes/niko-fallsdown.PNG);
    background-position:15%;
background-size: 500px 570px;
background-repeat: no-repeat;
}

.my-work-p1 {margin: 50px auto 50px 770px;
padding: 120px;
font-size: 20px;
color: gray;
font-family: 'Raleway', sans-serif;}


.my-work-2 {background-image: url(imagenes/PunPunimations-Business-Name-Black.png);
    background-position:85% 53%;
background-size: 550px 120px;
background-repeat: no-repeat;
}


.my-work-p2 {margin: 0px 770px 50px auto;
padding: 90px;
    padding-bottom: 160px;
font-size: 20px;
color: gray;
    font-family: 'Raleway', sans-serif;}






/*Portfolio links*/


            .portfolio-links {text-align: center;
                        margin: 50px, 10px, 10px, auto;
                        padding: 90px 0px;
                        padding-left: 0px;}

            .portfolio-links li {display: inline;
                        font-family: 'Passion One', sans-serif;
                        font-weight: bold;
                       font-size: 20px;
                        padding-right: 0px;
                        border-style:solid;
                        margin: auto 20px auto auto;}

            

            .portfolio-links a {text-decoration: none;
                            margin: 0px 70px;
                            padding: 20px;
                            color: black;}





/*Illustration and Graphic Designs*/

            .column1-0, .column2-0, .column3-0,
            .column1-a, .column2-a, .column3-a,
            .column1-b, .column2-b, .column3-b,
            .column1-c, .column2-c, .column3-c,
.column1-d, .column2-d, .column3-d,
.column1-f, .column2-f,
.column1-e, .column2-e, .column3-e {display: inline;
                        width: 33.33%; }

.comic1-a, .comic2-a, .comic3-a, .youtube, .instagram, .email {display: inline;
                        width: 33.33%; }


            .column1-0, .column2-0, .column1-a, .column1-b, .column2-b, .column1-c, .column2-c, .column1-d, .column2-d, .column1-e, .column2-e {padding-right: 90px;}
            .column3-a {padding-left: 80px;}
            .column1-f {padding-right: 27px;}

            .row0, .row1, .row2, .row3, .row4, .row5, .row6, .comic-row1, .comic-row2, .graphic-row1, .graphic-row2, .graphic-row3, .graphic-row4, .graphic-row5, .graphic-row6 {padding-bottom: 50px;
                                                                                        padding-top: 50px;}

.graphic-row1 {padding-top: 300px;}

.comic1-b {padding-bottom: 25px;}
.comic-punpun-pdf {padding-bottom: 200px;}



.row3 {background-color: #fdc516;}
.row4 {background-color: #f37620;}
.row5 {background-color: #9b1f2e;}
.row6 {background-color: #db69a1;}



.graphic-row1 h1, .graphic-row4 h1, .row0 h1 {font-family: 'Passion One',sans-serif;
                    text-align: center;
                    font-size: 40px;
                    padding-bottom: 80px;}

.graph1-a, .graph2-a, .graph3-a, .graph4-a {display: inline;
                                            width: 33.33%;
                                            padding: 0px 20px;}
.graph1-b, .graph2-b, .graph3-b, .graph4-b {display: inline;
                                            width: 33.33%;
                                            padding: 0px 20px;}
.graph1-c, .graph2-c, .graph3-c, .graph4-c {display: inline;
                                            width: 33.33%;
                                            padding: 0px 20px;}
.graph1-d, .graph2-d, .graph3-d {display: inline;
                                            width: 33.33%;
                                            padding: 0px 20px;}
.graph1-e, .graph2-e, .graph3-e, .graph1-f {display: inline;
                                            width: 33.33%;
                                            padding: 0px 20px;}



.graph3-e {padding-bottom: 20px;}

.graphic-row2 {background-color: #fdc516;}
.graphic-row3 {background-color: #f37620;}




.animafast {display: inline;
 width: 30%;}

.magazine h1 {font-family: 'Passion One',sans-serif;
                            font-size: 40px;
                            padding-bottom: 0px;
margin-bottom: 4px;}





.comic-punpun-pdf h1 {font-family: 'Passion One',sans-serif;
                            font-size: 40px;
                            padding-bottom: 0px;
margin-bottom: 4px;}


.comic-punpun-pdf p {font-family: 'Raleway',sans-serif;
                            font-size: 16px;
                            color: gray;
                            margin: 0px auto 100px auto;}


/*Animation*/

            .video-row {text-align: center;
                            padding: 100px;}

            .video-row h1, .comic-row1 h1, .comic-row2 h1 {font-family: 'Passion One',sans-serif;
                            font-size: 40px;
                            padding-bottom: 20px;}

            .video1, .video2, .video3 {padding-bottom: 200px;}


/* Contact */





.social-media h1 {font-family: 'Passion One',sans-serif;
                    text-align: center;
                    font-size: 40px;
                    padding-bottom: 40px;
                    padding-top: 80px;}


.contact-column {float: left;
                width: 33.33%;
                padding: 5px;
                padding-top: 10px;
                padding-bottom: 80px;
                height: 300px;} 


.social-media:after {content: "";
                display: table;
                clear: both;}

.contact-column p {font-size: 20px;
                    font-family: 'Raleway', sans-serif;
                    color: gray;
                    margin: 0px 120px;
                    padding-top:20px;}





/* Footer */

                .footer {background-color: #fdc516;
                    color: black;
                    text-align:center;
                    padding:10px;
                    margin-top: 0px;
                    background-image: none;
                    font-family: 'Raleway', sans-serif;
                    font-weight: bold;
                   }

 .footer2 {background-color: #fdc516;
                    color: black;
                    text-align:center;
                    padding: 10px;
                    margin-top: 94px;
                    background-image: none;
                    font-family: 'Raleway', sans-serif;
                    font-weight: bold;
                   }
