@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


/*red= #9b1f2e
orange= #f37620
yellow= #fdc516
lila= #947eba
pink= #db69a1
*/



$desktop: 1200px; // col-xl
$laptop: 992px;// col-lg
$tablet: 768px; // md
$phone: 480px; // sm



{box-sizing: border-box;}
body {margin: 0;}


           
            .header {background-image: url(imagenes/punpun-doodles.png);
                background-position: top;
                background-repeat: no-repeat;
                background-size:cover;
                height: 70%;
                text-align: center;
                padding: 8%;
                opacity: ;}
}

            #logo {float: center;}



            .navegation ul {background-color: #fdc516;
                        text-align: center;
                        margin: auto;
                        padding: 20px;}

            .navegation li {display: inline;
                        font-family: 'Raleway', sans-serif;
                font-weight: bold;}
                       

            .navegation a {text-decoration: none;
                            margin: 1%;
                            color: black;}


            a:hover {color: #9b1f2e}
            a:active {color: #947eba}












.home-h1 {font-family: 'Passion One', cursive;
        text-align: center;
        padding: 1%;
        font-size: 180%;
       margin: 3%;}
 

.home-info {background-color: #db69a1;
padding:60px 0px;
margin-bottom: 60px;}


.home-info h2 {color: white;
    font-family: 'Raleway', cursive;
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
    padding-bottom:5px;
    margin: 0px;
    letter-spacing: 1px}

.home-info p {color: white;
    font-family: 'Raleway', cursive;
    font-size: 100%;
    text-align: center;
    padding-bottom: ;
    margin: 10px 3% 0px 3%;
    line-height: px;}






/* Create three equal columns that floats next to each other */
.column {
    text-align: center;
    padding-bottom: 20px;
    float: left;
    width: 25%;
    height:  /* Should be removed. Only for demonstration */
}


.column h2 {font-family: 'Passion One', cursive;
}

.column p {font-family: 'Raleway', cursive;
color: darkgrey;
margin: 3%;}



/* Clear floats after the columns */
.row-home:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */



/*TABLET SIZE*/








/*PHONE SIZE*/

@media screen and (max-width: 480px) {
  .column {
    width: 100%;
  }

    
    .home-h1 {font-size: 115%;
    padding: 2% auto;}
    
    
    .home-info p {margin-top: 20px;}
 
    .center2 {
        width: 80%;}
    
}




.center {display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        width: 50%;}





/*MY WORK*/

.column2 {
    text-align: center;
    margin: 200px auto;
    width: 100%;
    height:  /* Should be removed. Only for demonstration */
}

.center2 {display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        width: 30%;}

.column2 h2 {font-family:'Passion One', cursive;
font-size:40px;}

.column2 p {margin: 4% 12%;
font-family:'Raleway', sans-serif;
font-size: 20px;
color: darkgray;
line-height: 24px;}




 .footer {background-color: #fdc516;
                    color: black;
                    text-align:center;
                    padding: 10px 0px;
                    margin-top: 60px;
                    background-image: none;
                    font-family: 'Raleway', sans-serif;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 4px;
                   }
